[flake8]
# flake8 example config based on 
# https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html
max-line-length = 90
select = C,E,F,W,B,B950
extend-ignore = E203, E501, W503
exclude = ./.git,./archive